In [1]:
import numpy as np
import pandas as pd

In [13]:
labels = ['a','b','c','d']
my_data = [10,20,30,40]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30,'d':40}
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [14]:
pd.Series(data = arr, index=labels)

a    10
b    20
c    30
d    40
dtype: int32

In [15]:
pd.Series(d)

a    10
b    20
c    30
d    40
dtype: int64

In [17]:
ser1 = pd.Series([1,2,3,4,5],['es','en','us','jp','gr'])
ser2 = pd.Series([1,2,3,4,5],['es','en','us','jp','it'])

In [23]:
ser1

es    1
en    2
us    3
jp    4
gr    5
dtype: int64

In [22]:
ser2

es    1
en    2
us    3
jp    4
it    5
dtype: int64

In [24]:
ser1+ser2

en    4.0
es    2.0
gr    NaN
it    NaN
jp    8.0
us    6.0
dtype: float64

In [31]:
ser2[0]
ser1['es']
ser2.index

Index(['es', 'en', 'us', 'jp', 'it'], dtype='object')

In [3]:
np.random.seed(101)

In [5]:
df = pd.DataFrame(np.random.rand(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [6]:
df

          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

In [10]:
df[['W','X']]

          W         X
A  0.516399  0.570668
B  0.685277  0.833897
C  0.721544  0.189939
D  0.181892  0.785602
E  0.083561  0.603548

In [14]:
df['NEW'] = df['W']+df['X']

In [12]:
df

          W         X         Y         Z       NEW
A  0.516399  0.570668  0.028474  0.171522  1.087066
B  0.685277  0.833897  0.306966  0.893613  1.519174
C  0.721544  0.189939  0.554228  0.352132  0.911483
D  0.181892  0.785602  0.965483  0.232354  0.967494
E  0.083561  0.603548  0.728993  0.276239  0.687110

In [15]:
df.drop('NEW',axis=1,inplace=True)

In [18]:
df.drop('E', axis = 0)

SyntaxError: invalid decimal literal (1169876101.py, line 1)

In [19]:
df.shape

(5, 4)

In [20]:
df.loc['A']

W    0.516399
X    0.570668
Y    0.028474
Z    0.171522
Name: A, dtype: float64

In [23]:
df.iloc[0]

W    0.516399
X    0.570668
Y    0.028474
Z    0.171522
Name: A, dtype: float64

In [25]:
df.loc[['A','B']]

          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613

In [29]:
df.loc['A','W']

0.5163986277024462

In [30]:
df.loc[['A','B'],['W','X']]

          W         X
A  0.516399  0.570668
B  0.685277  0.833897

In [ ]:
np.random.seed(101)

In [ ]:
df = pd.DataFrame(np.random.rand(5,4),["A","B","C","D","E"],["W","X","Y"])